Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc

# Django specific
*.log
*.pot
*.pyc
*.pyo
shopify_api/db.sqlite3

shopify_api/shopify_api/environment.py

**/migrations/**
!**/migrations
!**/migrations/__init__.py

shopify_api/media
